#Obj-files
*.o

#Executable-files
*.exe

#CMake-files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#Text-files
*.txt

#IDE-files
/.idea
